<h1> NEW Musician </h1>
<%= form_for @musician do |f| %>
	<br/>
	<b> <%= f.label(:instrument)%>
	<%= f.text_field(:instrument)%>
	<br/>
	<%= f.label(:genre)%><br/>
	<%= f.text_field(:genre)%>
	<br/>
	<%= f.submit("Submit")%>
<%end%>

