<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/jquery.datepick.css"> 
<script type="text/javascript" src="js/jquery.plugin.js"></script> 
<script type="text/javascript" src="js/jquery.datepick.js"></script>

<h1>New Event</h1>

<%= form_for @event, html: {multipart: true} do |f| %>
	<%= f.label(:event_name)%> 
	<%= f.text_field(:event_name)%>
	<br/>
	<%= f.label(:event_start)%>
	<%= f.date_select(:event_start)%>
	<br/>
	<%= f.label(:event_desc)%>
	<%= f.text_area(:event_desc)%>
	<br/>
	<%= f.label(:user_id)%>
	<%= f.text_area(:user_id)%>
	<br/>
	<%= f.label(:venue_id)%>
	<%= f.date_select(:venue_id)%>
	<br/>

	<%= f.submit("Submit")%>
<%end%>