Advanced Search
<%= form_for @search, html: {class:"pure-form"} do |f| %>
	<div> 
		<%= f.label :keywords %>
		<%= f.text_field :keywords %>
	</div>

	<div> 
		<%= f.label :state %>
		<%= f.text_field :state %>
	</div>

	<div> 
		<%= f.label :zip %>
		<%= f.text_field :zip %>
	</div>

	<div> 
		<%= f.label :instrument %>
		<%= f.text_field :instrument %>
	</div>

	<div> 
		<%= f.label :genre %>
		<%= f.text_field :genre %>
	</div>

	<%= f.submit "Search" %>
<%end%>