<h1> NEW Visual Artist </h1>
<%= form_for @visual_artist do |f| %>
	<br/>
	<b> <%= f.label(:medium)%>
	<%= f.text_field(:medium)%>
	<br/>
	<%= f.fields_for :address do |builder| %>
    <%= render "address_fields", :f => builder %>
  <% end %>
	<%= f.submit("Submit")%>
<%end%>

