<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SceneSurvivalKit</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>

    <link href="/assets/logged_in.css" rel="stylesheet">
      <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/assets/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/creative.css" type="text/css">
  </head>
  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">Scene Survival Kit</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#about">Our Mission</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#artists">Featured Artists</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Founders</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Find The Resources You Need to Survive the Scene.</h1>
                <hr>
                <p>Connect with musicians, venues, or visual artists for your show.</p>
                <%= link_to("Login", new_user_session_path, class: "btn btn-default btn-xl page-scroll")%>
                <%= link_to("Sign Up", new_user_registration_path, class: "btn btn-primary btn-xl page-scroll")%>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Support for Local Musicans and Artists</h2>
                    <hr>
                    <p class="text-faded"> Scene Survival Kit is dedicated to connecting local musicians with the venues and artists they need to effectively promote their work.</p>
                    <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
                </div>
            </div>
        </div>
    </section>

    <section id="services">
     <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading larger">Our Services</h2>
                    <br/> <br/>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-search bigger wow bounceIn text-primary"></i>
                        <h3>Find & Request</h3>
                        <p class="text-muted">Looking for a musician to play for a show, a venue in which to perform, or a visual artist to design and produce merchandise? Search for the right people in the right place.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart-o bigger wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Musician 'Dating'</h3>
                        <p class="text-muted">A Tinder-inspired service for individual musicians seeking bands, or bands that are seeking members, to appeal themselves to each other. Find your musical soul mate now!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bullhorn bigger wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Advertise Events</h3>
                        <p class="text-muted">Spread the word about your gig! Whether you are a musician, an artist, or a venue representative, you are welcome to post your event in our calendar and community forum.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-forumbee bigger wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Community Forum</h3>
                        <p class="text-muted">Write posts and raise discussions about issues you care about in the art/music world. Make conversations, make friends!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary" id="artists">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading larger">Featured Artists</h2>
                    <br/><br/>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Profile Type
                                </div>
                                <div class="project-name">
                                    Profile Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Profile Type
                                </div>
                                <div class="project-name">
                                    Profile Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Profile Type
                                </div>
                                <div class="project-name">
                                    Profile Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Profile Type
                                </div>
                                <div class="project-name">
                                    Profile Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Profile Type
                                </div>
                                <div class="project-name">
                                    Profile Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Profile Type
                                </div>
                                <div class="project-name">
                                    Profile Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container text-center">
                    <div class="call-to-action">
                        <br/><br/><br/>
                        <h2>Sign Up Now to Get Your Scene Survival Kit!</h2>
                        <a href="#" class="btn btn-primary btn-xl wow tada">Sign Up!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">From Yours Truly</h2>
                    <hr class="primary">
                    <p>Here are the founders and developers of Scene Survival Kit.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>
  <%= javascript_include_tag 'application' %>
    <script src="/assets/cbpAnimatedHeader.js"></script>
    <script src="/assets/jquery.easing.min.js"></script>
    <script src="/assets/jquery.fittext.js"></script>
    <script src="/assets/wow.min.js"></script>
    <script src="/assets/creative.js"></script>
    <script src="/assets/classie.js"></script>
  </body>
</html>